.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.flex-container > div {
    width: 320px;
    margin: 10px;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.flex-container2 > div {
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.startBtn, .acknBtn, .backBtn {
    display: block;
    width: 200px;    
    margin: 0 auto;
}

#genderM, #genderF {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 380px;
}

.clipboard, .information {
    background-color: aquamarine;
    text-align: center;
    align-items: center;
    /*height: 450px;*/
}

#globalDetails p {
    font-size: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
#globalDetails h3 {
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

li {
    text-align: left;
}