.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.flex-container > div {
    width: 320px;
    margin: 10px;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
}

.searchBtn {
    display: block;
    width: 200px;    
    margin: 0 auto;
}